.text-box {
  .text-box-container {
    margin-top: 0.4rem;
    position: relative;
    input {
      outline: none;
      padding: 0.5rem;
      width: 100%;
      border: solid 2px var(--theme);
      border-radius: 4px;
      cursor: text;

      &:not(:focus) {
        border: solid 1px #dadce0;
      }

      &.error {
        border-color: #f00;
      }

      transition: border 0.1s linear;
    }

    label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 0.5rem;
      display: flex;
      align-items: center;
      height: 100%;
      cursor: text;
      // width: 100%;

      transition: all 0.1s linear;

      &.error {
        color: #f00;
      }
    }

    input:focus ~ label {
      font-size: 0.8rem;
      display: inline;
      height: auto;
      top: -0.4rem;
      background-color: #fff;
      left: 0.5rem;
      color: var(--theme);
      &.error {
        color: #f00;
      }
    }
    input:not(focus):not(:placeholder-shown) ~ label {
      font-size: 0.8rem;
      display: inline;
      height: auto;
      top: -0.4rem;
      background-color: #fff;
      left: 0.5rem;
      &.error {
        color: #f00;
      }
    }
  }
  .error-text {
    font-size: 0.8rem;
    color: #f00;
  }
}
