$icon-font-size: 1.6rem;
@mixin nav-button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  height: calc($icon-font-size + 20px);
  width: calc($icon-font-size + 20px);
  border-radius: 1000px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #f0f0f0;
  }
  i {
    font-size: $icon-font-size;
  }
}
nav#navbar {
  position: relative;
  .account-popup {
    position: absolute;
    right: 1rem;
    top: 64px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px #777;
    z-index: 2;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    .pfp {
      display: flex;
      justify-content: center;
      .pfp-inner {
        background-color: rgb(100, 100, 255);
        border-radius: 1000px;

        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        &:hover {
          cursor: pointer;
          box-shadow: 0 0 4px #777;
        }

        i {
          font-size: 3rem;
        }
      }
    }

    .logout {
      display: flex;
      justify-content: center;

      .logout-button {
        border: none;
        outline: none;
        border-radius: 4px;
        background-color: rgb(100, 100, 255);
        color: #fff;
        padding: 0.5rem 1rem;
        cursor: pointer;
        &:hover {
          background-color: rgb(80, 80, 255);
        }
      }
    }
  }

  // display: block;
  width: 100%;
  min-height: 64px;
  border-bottom: solid 1px #dadce0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;

  .left {
    display: flex;
    align-items: center;

    .toggle-sidebar {
      @include nav-button();
    }

    img.logo {
      height: 40px;
    }
  }

  .search-box {
    background-color: #f1f3f4;
    padding: 8px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    @media screen and (max-width: 1024px) {
      display: none;
      // justify-content: flex-end;
      background-color: inherit;
      input, .cross-icon {
        display: none;
        
      }
    }

    .search-icon {
      &:hover {
        cursor: pointer;
      }
    }
    input {
      background-color: #f1f3f4;
      color: #333;
      width: 50vh;
      border: none;
      outline: none;
      font-size: 1.2rem;
      & ~ .cross-icon {
        // display: none;
        visibility: hidden;
        cursor: pointer;
      }
      &:focus ~ .cross-icon {
        // display: inline;
        visibility: visible;
      }
    }

  }

  .right {
    display: flex;
    gap: 1rem;

    .icon {
      @include nav-button();
    }

    @media screen and (max-width: 500px) {
      .icon:not(.user-account) {
        display: none;
      }
    }
  }
}
