$icon-font-size: 1.6rem;
@mixin nav-button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  height: calc($icon-font-size + 20px);
  width: calc($icon-font-size + 20px);
  border-radius: 1000px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #f0f0f0;
  }
  i {
    font-size: $icon-font-size;
  }
}
nav#navbar {
  // display: block;
  width: 100%;
  min-height: 64px;
  border-bottom: solid 1px #dadce0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;

    .toggle-sidebar {
      @include nav-button();
    }

    img.logo {
      height: 40px;
    }
  }

  .search-box {
    background-color: #f1f3f4;
    padding: 8px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    @media screen and (max-width: 1024px) {
      display: none;
      // justify-content: flex-end;
      background-color: inherit;
      input, .cross-icon {
        display: none;
        
      }
    }

    .search-icon {
      &:hover {
        cursor: pointer;
      }
    }
    input {
      background-color: #f1f3f4;
      color: #333;
      width: 50vh;
      border: none;
      outline: none;
      font-size: 1.2rem;
      & ~ .cross-icon {
        // display: none;
        visibility: hidden;
        cursor: pointer;
      }
      &:focus ~ .cross-icon {
        // display: inline;
        visibility: visible;
      }
    }

  }

  .right {
    display: flex;
    gap: 1rem;

    .icon {
      @include nav-button();
    }

    @media screen and (max-width: 500px) {
      .icon:not(.user-account) {
        display: none;
      }
    }
  }
}
