.display-archived-notes {
  // background: #ccc;

  // display: flex;
  // flex-wrap: wrap;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
  }

  padding: 0 1rem;
}
