.display-trash-notes {
  // background: #ccc;

  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 576.1px) and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
  gap: 1rem;

  padding: 0 1rem;
}
