section#login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 500px) {
    align-items: flex-start;
  }

  .login-container {
    width: calc(min(450px, 100vw));
    border: solid 1px #dadce0;
    border-radius: 8px;
    padding: 2.5rem 2rem;
    display: flex;
    gap: 1rem;
    @media screen and (max-width: 500px) {
      border: none;
    }
    @media screen and (min-width: 500.1px) and (max-width: 1024px) {
      width: min(450px, 90vw);
    }

    .box {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      .text-center,
      .logo {
        text-align: center;
        margin: auto;
        display: block;
      }

      .heading {
        font-weight: 500;
        font-size: 1.5rem;
      }

      .subheading {
        font-weight: 400;
        font-size: 1.1rem;
      }

      a {
        text-decoration: none;
        color: #277be9;
        // padding: 0.2rem 0.4rem;
        font-weight: 600;
      }

      .not-your-computer {
        margin: 2rem 0;
      }

      .next-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        a {
          padding: 0.2rem 0.4rem;
          &:hover {
            background-color: #f6fafe;
            border-radius: 4px;
            color: #174ea6;
          }
        }

        button {
          background-color: #1a73e8;
          border: none;
          border-radius: 4px;
          color: #fff;
          outline: none;
          padding: 0.8rem 1.5rem;
          cursor: pointer;
          transition: all 0.15s ease-in;
          &:hover {
            background-color: #1b66ca;
            box-shadow: 1px 1px 4px #aaa;
          }
        }
      }
    }
  }
}
